
<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <title>ورود | پاکت</title>
  <link rel="stylesheet" href="/static/css/Style.css">
</head>
<body>
  <header><h1>ورود به پاکت</h1></header>
  <div class="container">
    <form method="POST">
      <input type="text" name="username" placeholder="نام کاربری" required>
      <input type="password" name="password" placeholder="رمز عبور" required>
      <button type="submit">ورود</button>
    </form>
    <p>حساب ندارید؟ <a href="/register">ثبت‌نام</a></p>
  </div>
</body>
</html>
